body {
	font-family: sans-serif;
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	border: 0;
}

.sidebar {
	font-size: 0.9rem;
	background-color: #323131;
	width: 250px;
	border: 1px solid darkorange;
	border: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	padding-top: 1rem;
}
