body {
	font-family: sans-serif;
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	border: 0;
}

.nav-tree li.folded {
	display: none;
}
.nav-tree li.unfolded {
}

.sidebar {
	font-size: 0.9rem;
	background-color: #323131;
	width: 250px;
	border: 1px solid darkorange;
	border: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	padding-top: 1rem;
}

.nav-tree a:after {
	width: 250px;
}
.nav-tree a {
	color: #d9d9d9;
}
.nav-tree button {
	color: #989898;
}
.nav-tree a:hover {
}
.nav-tree button:hover {
}
.nav-tree a:hover:after, .nav-tree button:hover {
	background-color: #4b4a4a;
}
.nav-tree a:active:after, .nav-tree button:active {
	background: #606060;
}

.nav-tree {
	overflow: hidden;
}

.nav-tree ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-tree li {
	position: relative;
}
.nav-tree li ul {
	margin-left: 1rem;
}

.nav-tree button {
	background: transparent;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	width: 2rem;
	height: 100%;
	display: block;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.nav-tree a {
	background: transparent;
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
	margin: 0;
	padding: 0.35rem;
	padding-right: 0.25rem;
	padding-left: 2.25rem;
	border: 0;
	display: block;
	position: relative;
	z-index: 0;
}
.nav-tree a:after {
	background-color: transparent;
	content: "\00A0";
	border: 0;
	height: 100%;
	display: block;
	position: absolute;
	z-index: -1;
	right: 0;
	top: 0;
}
.nav-tree button + a {
	margin-left: 2rem;
	padding-left: 0.25rem;
}

.nav-tree a, .nav-tree button {
	outline-offset: -2px;
}
.nav-tree a:after, .nav-tree button {
	border-radius: 0.2rem;
}
